@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

 * {
   box-sizing: border-box;
 }
 
body {
  background-color: ghostwhite;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}